<!DOCTYPE html>
<!--Name: Matthew Hartigan
  Assignment: CS336 Assignment #7
  Page Name: nametags8.html
  Created: 4/12/2019
  Description: The nametags8.html page for Assignment #7.-->
<html lang="en">
<head>
  <meta name="keywords" content="nametags8">
  <meta name="description" content="This is the nametags8 page for Assignment#7.">
  <meta name="author" content="Matthew Hartigan">
  <meta name="robots" content="index, follow">
  <meta charset="UTF-8">
  <title>Nametags (8)</title>
  <link href="/static/css/webdefault.css" type="text/css" rel="stylesheet">
  <link href="/static/css/nametags8.css" type="text/css" rel="stylesheet">
</head>
<body>
<header></header>
<main>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="first-name">Jill</span><br>
          <span class="last-name">Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">John</span><br>
          <span class="last-name">Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Lucy</span><br>
          <span class="last-name">Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Benjamin</span><br>
          <span class="last-name">Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Ada</span><br>
          <span class="last-name">Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Bill</span><br>
          <span class="last-name">Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="first-name">Corrinne</span><br>
          <span class="last-name">Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Donald</span><br>
          <span class="last-name">Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="first-name">Audrey</span><br>
          <span class="last-name">Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Jill2</span><br>
          <span class="last-name">Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">John2</span><br>
          <span class="last-name">Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Lucy2</span><br>
          <span class="last-name">Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Benjamin2</span><br>
          <span class="last-name">Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Ada2</span><br>
          <span class="last-name">Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="first-name">Bill2</span><br>
          <span class="last-name">Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Corrinne2</span><br>
          <span class="last-name">Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="first-name">Donald2</span><br>
          <span class="last-name">Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Audrey2</span><br>
          <span class="last-name">Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Jill3</span><br>
          <span class="last-name">Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">John3</span><br>
          <span class="last-name">Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Lucy3</span><br>
          <span class="last-name">Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Benjamin3</span><br>
          <span class="last-name">Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="first-name">Ada3</span><br>
          <span class="last-name">Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Bill3</span><br>
          <span class="last-name">Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="first-name">Corrinne3</span><br>
          <span class="last-name">Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Donald3</span><br>
          <span class="last-name">Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Audrey3</span><br>
          <span class="last-name">Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Jill4</span><br>
          <span class="last-name">Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">John4</span><br>
          <span class="last-name">Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Lucy4</span><br>
          <span class="last-name">Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="first-name">Benjamin4</span><br>
          <span class="last-name">Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Ada4</span><br>
          <span class="last-name">Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="first-name">Bill4</span><br>
          <span class="last-name">Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Corrinne4</span><br>
          <span class="last-name">Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="first-name">Donald4</span><br>
          <span class="last-name">Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="first-name">Audrey4</span><br>
          <span class="last-name">Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

        </div>
      </div>
      <div class="right-nametag">

        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

        </div>
      </div>
      <div class="right-nametag">

        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>