<!DOCTYPE html>
<!--Name: Matthew Hartigan
  Assignment: CS336 Assignment #7
  Page Name: nametags10.html
  Created: 4/12/2019
  Description: The nametags10.html page for Assignment #7.-->
<html lang="en">
<head>
  <meta name="keywords" content="nametags10">
  <meta name="description" content="This is the nametags10 page for Assignment#7.">
  <meta name="author" content="Matthew Hartigan">
  <meta name="robots" content="index, follow">
  <meta charset="UTF-8">
  <title>Nametags (10)</title>
  <link href="/static/css/webdefault.css" type="text/css" rel="stylesheet">
  <link href="/static/css/nametags10.css" type="text/css" rel="stylesheet">
</head>
<body>
<header></header>
<main>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="name">Jill Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">John Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Lucy Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Benjamin Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Ada Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Bill Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Corrinne Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Donald Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="name">Audrey Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Jill2 Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="name">John2 Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Lucy2 Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Benjamin2 Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Ada2 Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Bill2 Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Corrinne2 Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Donald2 Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Audrey2 Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="name">Jill3 Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">John3 Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="name">Lucy3 Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Benjamin3 Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Ada3 Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Bill3 Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Corrinne3 Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Donald3 Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Audrey3 Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Jill4 Jackson</span><br>
          <span class="position">Web Developer</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

          <span class="name">John4 Smith</span><br>
          <span class="position">IT Manager</span><br>
          <span class="company">Really Big Company</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Lucy4 Robertson</span><br>
          <span class="position">Senior Developer</span><br>
          <span class="company">Walmart</span><br>
          <span class="city-state">Bentonville, AR</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="top-row">
      <div class="left-nametag">

          <span class="name">Benjamin4 Reyes</span><br>
          <span class="position">Quality Control Lead</span><br>
          <span class="company">Quality Is Us!</span><br>
          <span class="city-state">Austin, TX</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Ada4 Lovelace</span><br>
          <span class="position">Mathematician</span><br>
          <span class="company">Regis University</span><br>
          <span class="city-state">Denver, CO</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Bill4 Gates</span><br>
          <span class="position">Computer Programmer</span><br>
          <span class="company">Microsoft</span><br>
          <span class="city-state">Redmond, WA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Corrinne4 Yu</span><br>
          <span class="position">Game Programmer</span><br>
          <span class="company">Naughty Dog</span><br>
          <span class="city-state">Santa Monica, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

          <span class="name">Donald4 Knuth</span><br>
          <span class="position">Professor</span><br>
          <span class="company">Stanford University</span><br>
          <span class="city-state">Standford, CA</span><br>
        </div>
      </div>
      <div class="right-nametag">

          <span class="name">Audrey4 Tang</span><br>
          <span class="position">Software Programmer</span><br>
          <span class="company">Pugs Project</span><br>
          <span class="city-state">San Jose, CA</span><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left-nametag">

        </div>
      </div>
      <div class="right-nametag">

        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="left-nametag">

        </div>
      </div>
      <div class="right-nametag">

        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>