{# Name: Matthew Hartigan#}
{# Assignment: CS336 Assignment #9#}
{# Page Name: nav.html#}
{# Created: 4/30/2019#}
{# Description: The nav.html file for Assignment #9.#}
    <a href="/">Index</a>
    <a href="{{ url_for('awards') }}">Member Choice Awards</a>
    <a href="{{ url_for('activities') }}">Activities</a>
    <a href="{{ url_for('meals') }}">Meals</a>
    <a href="{{ url_for('keynote') }}">Keynote Speakers</a>
    <a href="{{ url_for('workshopschedule') }}">Workshop Schedule</a>
    <a href="{{ url_for('registration') }}">Registration</a>
    <a href="{{ url_for('admin') }}">Administration</a>
