<!DOCTYPE html>
<!--Name: Matthew Hartigan
  Assignment: CS336 Assignment #9
  Page Name: template.html
  Created: 4/30/2019
  Description: The template.html page for Assignment #9.-->
<html lang="en">
<head>
  <meta name="keywords" content="template">
  <meta name="description" content="The page description goes here.">
  <meta name="author" content="Matthew Hartigan">
  <meta name="robots" content="index, follow">
  <meta charset="UTF-8">
  <title>Template</title>
  <link href="css/webdefault.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <a href="index.html">Index</a>
    <a href="awards.html">Member Choice Awards</a>
    <a href="activities.html">Local Activities</a>
    <a href="meals.html">Meals</a>
    <a href="keynote.html">Keynote Speakers</a>
    <a href="workshopschedule.html">Workshop Schedule</a>
    <a href="registration.html">Registration Form</a>
<a href="admin.html">Administration</a>
  </nav>
</header>
<main></main>
<footer>
  <address>
    <small>123 Main Street</small>
    <br>
    <small>Houston, TX 77002</small>
    <br>
    <small>Phone: 1-800-555-5555</small>
    <br>
    <small>Email: test@somedomain.com</small>
  </address>
  <p>
    <small>While this web site was created to satisfy the requirement of building a web site for an academic course
      at Regis University, the views and opinions expressed on this web site are solely those of the original author
      and do not necessarily represent the views and opinions of Regis University.
    </small>
  </p>
</footer>
</body>
</html>
