{% extends 'base.html' %}
{% block pagetopcomments %}
<!--Name: Matthew Hartigan
  Assignment: CS336 Assignment #9
  Page Name: workshopschedule.html
  Created: 4/30/2019
  Description: The workshopschedule.html page for Assignment #9.-->
{% endblock %}
{% block head %}
    <meta name="keywords" content="workshop schedule">
    <meta name="description" content="This is the workshop schedule page for the site.">
    <title>Workshop Schedule</title>
{% endblock %}
{% block maincontent %}
    <br>

    <!--Conference Schedule in Table Format-->
    <table class="schedule">
        <thead>
        <tr>
            <th class="schedule"> Day</th>
            <th class="schedule"> Session</th>
            <th class="schedule"> Workshop Title</th>
            <th class="schedule"> Speaker</th>
            <th class="schedule"> Room</th>
            <th class="schedule"> Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="schedule">Day 1</td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule">Session 1</td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Safe Running Techniques</td>
            <td class="schedule">Mr. Smith</td>
            <td class="schedule">Room 1A</td>
            <td class="schedule">9:00 a.m. - 11:30 a.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Stationary vs. Road Biking</td>
            <td class="schedule">Ms. Doe</td>
            <td class="schedule">Room 1B</td>
            <td class="schedule">9:00 a.m. - 11:30 a.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Swimming for Endurance</td>
            <td class="schedule">Panel Discussion</td>
            <td class="schedule">Room 1C</td>
            <td class="schedule">9:00 a.m. - 11:30 a.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule">Session 2</td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Weight Lifting Basics</td>
            <td class="schedule">Mr. Smith</td>
            <td class="schedule">Room 1A</td>
            <td class="schedule">1:00 p.m. - 4:00 p.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Calisthenics for Strength</td>
            <td class="schedule">Panel Discussion</td>
            <td class="schedule">Room 1B</td>
            <td class="schedule">1:00 p.m. - 4:00 p.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Yoga for Building Muscle</td>
            <td class="schedule">Ms. Doe</td>
            <td class="schedule">Room 1C</td>
            <td class="schedule">1:00 p.m. - 4:00 p.m.</td>
        </tr>
        <tr>
            <td class="schedule">Day 2</td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule">Session 3</td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule"></td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Nutrition Plan Based on your Personal Needs</td>
            <td class="schedule">Mr. Smith</td>
            <td class="schedule">Room 1A</td>
            <td class="schedule">9:00 a.m. - 11:30 a.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">The Role of Proper Rest</td>
            <td class="schedule">Ms. Doe</td>
            <td class="schedule">Room 1B</td>
            <td class="schedule">9:00 a.m. - 11:30 a.m.</td>
        </tr>
        <tr>
            <td class="schedule"></td>
            <td class="schedule"></td>
            <td class="schedule">Keeping your Body Healthy through Mobilization</td>
            <td class="schedule">Panel Discussion</td>
            <td class="schedule">Room 1C</td>
            <td class="schedule">9:00 a.m. - 11:30 a.m.</td>
        </tr>
        </tbody>
    </table>
    <br>
{% endblock %}
